.eABKyP{
margin-left: 40px; 
margin-bottom: 40px;
}

.newsletterInput{
    width:390px;
    height:50px;
    font-size:20;
    color: #A8A8A8;
    background: none;
    border: none;
    outline: none;
    padding-left: 0 !important;
    border-bottom: solid 1px #422512
}

@media screen and (max-width:680px) {
	.eABKyP {
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 680px){
.newsletterInput {
    font-size: 18px;
    width: auto;
}
}

@media screen and (max-width: 768px){
.iCGUca {
    border: none !important;
}
}